<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Nest</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app='catalog'>
    <header id="header" class="">
      <nav class="headerNav">
        <ul>
          <li><h1>NESTLR</h1>
        </ul>
        <ul>
          <li><a href="" title="Books"></a>Books</li>
        </ul>
        <ul>
          <li><a href="" title="Music"></a>Music</li>
        </ul>
        <ul>
          <li><a href="" title="Games"></a>Games</li>
        </ul>
      </nav>
      
    </header><!-- /header -->
    <div class="card-columns mainContent" ng-controller='MainCtrl as main'>
  		<!-- {{main.test}} -->
  		<div ng-repeat="media in main.test.media" class="card card-block">
  			<img class="cardImg" ng-src="{{media.images[media.images.length -1]}}">
        <p>Title: {{media.title}}</p>
        <p ng-if="media.description">Description: {{media.description}}</p>
        <div>
          <p ng-if="!media.owned">
        </div>
        <p>This is just some garbage text to test the layout of this card element. I am just doing this as
        an act of desperation because I need to see where the lines lie.</p>
        <div>
          <button class="btn btn-danger" ng-click="main.deleteItem(media.firebaseID)">Delete</button>
          <input ng-model="media.owned" type="checkbox" ng-true-value=true ng-false-value=false
           ng-click="main.isOwned(media.firebaseID, media.owned)"> Owned<br>
           <select ng-model="media.mediaType">
             <option value="Book">Book</option>
             <option value="Music">Music</option>
             <option value="Movie">Movie</option>
             <option value="Game">Game</option>
             <option value="Product">Product</option>
           </select>
          <button class="btn btn-primary" ng-click="main.setType(media.firebaseID, media.mediaType)">Set Media Type</button>
       </div>
  		</div>
    </div>
		<script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"type="text/javascript"></script>
		<script src="bower_components/firebase/firebase.js" type="text/javascript"></script>
		<script src="javascripts/main.js"></script>
	</body>
</html>

477t67Glorb