<header id="header" class="">
  <nav class="headerNav">
    <ul>
      <li><a href="/"><h1>NESTLR</h1></a>
    </ul>
    <ul>
      <li><a href="" title="Books"></a>Books</li>
    </ul>
    <ul>
      <li><a href="" title="Music"></a>Music</li>
    </ul>
    <ul>
      <li><a href="" title="Games"></a>Games</li>
    </ul>
    <div  ng-controller="AuthCtrl as auth">
      <ul>
        <li><a href="" ng-click="auth.logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>
<!-- <div class="card-columns mainContent" ng-controller='MainCtrl as main'> -->
<div class="row mainContent" ng-controller='MainCtrl as main'>
	<!-- return last image -->
  <!-- <div ng-repeat="media in main.test.media" class="card card-block">  -->
  <div ng-repeat="media in main.test.media" class="col-md-15 col-sm-3"> 
		<!-- <img class="cardImg" ng-src="{{media.images[media.images.length -1]}}"> -->
    <img class="cardImg" ng-src="{{media.amazonImgLrg}}">
    <p>Title: {{media.title}}</p>
    <div ng-hide="editorEnabled">
      <p ng-if="media.description" ng-click="main.ClickToEditCtrl(media, media.description)">Description: {{media.description}}</p>
    </div>
    <div ng-show="media.editorEnabled">
      <input ng-model="media.editableTitle" ng-show="media.editorEnabled">
      <a href="" ng-click="media.save()">Save</a>
      or
      <a href="" ng-click="media.disableEditor()">cancel</a>.
    </div>
    <!-- if the current media item is not owned, show a list of retailers that sell it -->
    <div ng-if="!media.owned"> 
      <!-- limit to 4 items, convert string to float and sort by price -->
      <div ng-repeat="offer in media.offers | orderBy: 'price*1' | limitTo: 4 ">
        <p>Price: ${{offer.price}}</p>
        <a href={{offer.link}}><p>Seller: {{offer.merchant}}</p></a>
      </div>
    </div>
    <!-- <p>This is just some garbage text to test the layout of this card element. I am just doing this as
    an act of desperation because I need to see where the lines lie.</p> -->
    <div>
      <button class="btn btn-danger" ng-click="main.deleteItem(media.firebaseID)">Delete</button>
      <input ng-model="media.owned" type="checkbox" ng-true-value=true ng-false-value=false
       ng-click="main.isOwned(media.firebaseID, media.owned)"> Owned<br>
       <select ng-model="media.mediaType">
         <option value="Book">Book</option>
         <option value="Music">Music</option>
         <option value="Movie">Movie</option>
         <option value="Game">Game</option>
         <option value="Product">Product</option>
       </select>
      <button class="btn btn-primary" ng-click="main.setType(media.firebaseID, media.mediaType)">Set Media Type</button>
   </div>
	</div>
</div>