<header id="header" class="">
  <nav class="headerNav">
    <!-- <img src="/img/nestlr.png"> -->
    <!-- {{main.glorb}} -->
    <ul>
      <li><img src="/img/newLogo.png" alt="" class="logoImage"></li>
      <li><a href=""><h1 class="logo" ng-click="main.filteredMedia('')">nestlr</h1></a>
      <li><a href="" title="Books" ng-click="main.filteredMedia('Book')">Books</a></li>
      <li><a href="" title="Music" ng-click="main.filteredMedia('Music')">Music</a></li>
      <li><a href="" title="Games" ng-click="main.filteredMedia('Game')">Games</a></li>
      <li><a href="" title="Products" ng-click="main.filteredMedia('Product')">Products</a></li>
    </ul>
    <div ng-controller="AuthCtrl as auth">
      <ul>
        <li><a href="" ng-click="auth.logout()" class="authDiv">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>
<div id="wrapper">
  <div id="columns">
    <div ng-repeat="media in main.test.media | toArray | filter: {mediaType: main.filterType}" class="pin"> 
    <!-- <div ng-repeat="media in main.test.media" class="pin">  -->

      <img ng-src="{{media.amazonImgLrg}}" ng-click="main.showBook(media.isbn)">
      <h5 class="title">Title: {{media.title}}</h5>


      <div ng-hide="editorEnabled">
        <!-- only show decription if googlebooks doesnt exist and the normal description does and if the description doesnt match the title.-->
        <div ng-if="!media.googleBookInfo">
          <div ng-if="media.description != media.title">
          <!-- Also, dont show this box if the editing is enabled -->
            <div ng-if="!media.editorEnabled">
              <p ng-if="media.description" ng-dblclick="main.ClickToEditCtrl(media, media.description, media.firebaseID)" class="mediaDescription">Description: {{media.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- if the key of editorenabled exists, show whats below -->
      <div ng-show="media.editorEnabled">
        <textarea ng-model="media.editableTitle" ng-show="media.editorEnabled" rows="15" class="form-control"></textarea>
        <div class="saveOrCancel"> 
          <button class="btn btn-danger btn-sm" ng-click="media.save()">Save</button>
          or
          <button class="btn btn-primary btn-sm" ng-click="media.disableEditor()">Cancel</button>
        </div>
      </div>


      <div ng-if="media.googleBookInfo" class=googleBookInfo>
        <p>Publisher: {{media.googleBookInfo.publisher}}</p>
        <p>Page Count: {{media.googleBookInfo.pageCount}}</p>
        <p>Average Rating: {{media.googleBookInfo.averageRating}}/5</p>
        <p>Description: {{media.googleBookInfo.description}}</p>
      </div>

      <!-- if the current media item is not owned, show a list of retailers that sell it -->
      <div ng-if="!media.owned" class="mediaOwned" > 
        <!-- limit to 4 items, convert string to float and sort by price -->
        <div ng-repeat="offer in media.offers | orderBy: 'price*1' | limitTo: 4 " class="mediaSource">
          <a href={{offer.link}} class="seller"><p>${{offer.price}} - {{offer.merchant}}</p></a>
        </div>
      </div>
      <div class="cardInfo">
        <div class="ownedAndType">
          <!-- media owned checkbox -->
          <input ng-model="media.owned" type="checkbox" ng-true-value=true ng-false-value=false
           ng-click="main.isOwned(media.firebaseID, media.owned)">Owned<br>
           <!-- select dropdown -->
           <select class="c-select" ng-model="media.mediaType" ng-change="main.setType(media.firebaseID, media.mediaType)">
             <option value="Book">Book</option>
             <option value="Music">Music</option>
             <option value="Movie">Movie</option>
             <option value="Game">Game</option>
             <option value="Product">Product</option>
           </select>
        </div>
<!--         <button class="btn btn-primary mediaBtn btn-sm" ng-click="main.setType(media.firebaseID, media.mediaType)">Set Media Type</button> -->
        <button class="btn btn-danger deleteBtn btn-sm" ng-click="main.deleteItem(media.firebaseID)">Delete</button>
      </div>
  	</div>
  </div>
</div>